In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Covariance

In [2]:
dataset = pd.read_csv("CharacterisingND/height_weight.csv")[["height", "weight"]]
dataset.head()

   height  weight
0   71.74  259.88
1   71.00  186.73
2   63.83  172.17
3   67.74  174.66
4   67.28  169.20

In [4]:
covariance = np.cov(dataset, rowvar=False) # we can also use dataset.T instead of setting rowvar=False
covariance

array([[  18.60200779,   78.50218098],
       [  78.50218098, 1512.91208783]])

In [6]:
# Other way of calculating covariance
dataset.cov()

           height       weight
height  18.602008    78.502181
weight  78.502181  1512.912088

# Correlation

Correlation and covariance are easily linked.

In [7]:
corr = np.corrcoef(dataset.T)
corr

array([[1.        , 0.46794517],
       [0.46794517, 1.        ]])

In [8]:
dataset.corr()

          height    weight
height  1.000000  0.467945
weight  0.467945  1.000000